@font-face {
  font-family: 'kdwc-font';
  src:  url('../fonts/kdwc-font.eot?riccum');
  src:  url('../fonts/kdwc-font.eot?riccum#iefix') format('embedded-opentype'),
  url('../fonts/kdwc-font.ttf?riccum') format('truetype'),
  url('../fonts/kdwc-font.woff?riccum') format('woff'),
  url('../fonts/kdwc-font.svg?riccum#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-kdwc-"], [class*=" icon-kdwc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kdwc-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kdwc-logo:before {
  content: "\e900";
}
