.elementor-element.elementor-widget.elementor-widget-kdwc_dynamic_content.elementor-widget-empty::after {
    content: "Kd-Wc Dynamic Content: Blank Version";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    color: #6d7882;
    align-items: center;
    justify-content: center;
}